.my-header {
    background-color: #61D1A1;
  text-align: center;
  width: 800px;
  height: 90px;
  margin: auto;
  display: flex;
  border-bottom: 3px solid gray;
}
.my-body {
    background: rgb(97,209,161);
    background: linear-gradient(180deg, rgba(97,209,161,1) 23%, rgba(86,197,160,1) 62%, rgba(52,158,155,1) 100%);
  text-align: center;
  width: 800px;
  height: 640px;
  margin: auto;
  display: block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 2;
}
.my-footer {
    background-color: #161616d0;
  text-align: center;
  width: 800px;
  height: 650px;
  margin: auto;
  display: flex;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  top: -20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*Aquí comienza el css de body*/
a{
  padding: 5px;
  margin: 20px;
  border-radius: 55%;
}
h2 {
  text-align: left; 
  margin-left: 240px;
  color: aliceblue;
}
img{
  max-width: 39%; 
  max-height: 100%; 
  height: 70%;
  border: 1px;
  border-radius: 7px;
  
}
a:link, a:visited{
  color: rgb(250, 250, 250);
  text-decoration: none;
}
section{
  display: grid;
  padding: 5px;
}
.album{
  margin-top: 15px;
}
.song{
  margin-top: 45px;
  font-size: larger;
}
.songName{
  color: rgb(44, 44, 44);
}
.mediaIco1{
  margin-top: -45px;
  padding-top: 70px;
  font-size: 14px;
  
}
.mediaIco2{
  margin-top: 35px;
  font-size: 14px;
}
/*Aquí termina el style de body*/
.icono {
    display: inline-block; /* Para que se alinee con el texto */
    margin-right: 10px; /* Para agregar un espacio a la derecha del icono */
    margin-left: 40px;
    margin-top: 20px;
    font-size: 50px; /* Para aumentar el tamaño del icono */
    
  }

  .barra{
    margin-top: 80px;
    width: 80%;
    height: 4px;
    background-color: #e6e6e6;
    border-radius: 2px;
    outline: none;
    margin: 10px 0;
    cursor: default;
  }
  
  .barra:hover {
    cursor: pointer;
  }
  






  








  



